<!--  
============================================
; Title:  Saeou-assignment-2.4
; Author: Joann Saeou
; Date:   27 February 2020
; Description: part of EJS-Views  week-2 Javascript
;===========================================
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Saeou's EJS-view</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
        .one {
            background-color: #339966;
            color: black;
            border: solid black;
            padding: 5px;
            text-align: center;
            box-shadow: 3px 2px 7px 2px #1C6EA4;
        }
        
        .twoo {
            color: skyblue;
            background-color: teal;
            ;
            font-size: 19px;
            border: 1px solid darkslategray;
            margin: 1px 1px 0px 0px 1px;
            padding: 1px;
            box-shadow: 3px 2px 7px 2px rgb(12, 19, 24);
        }
        
        .onee {
            color: skyblue;
            font-size: 19px;
            background-color: teal;
            border: 1px solid black;
            margin: 1px 1px 0px 0px 1px;
            padding: 1px;
            box-shadow: 3px 2px 7px 2px rgb(12, 19, 24);
        }
    </style>
</head>

<body>
    <div class="one">

        <h1 class="onee"> Hello, world! </h1>

        <p class="onee"> My name is
            <%= firstName %>
                <%= lastName %>.</p>

        <div class="two">


            <address class="twoo">
                    
                    This is my address :<br>
                    <%= address %><br>
                    </address>


</body>

</div>





</div>


</html>