<!DOCTYPE html>

<html lang="en">





<head>

    <title> Morgan example </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- link to bootsrap's stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="../../">
    </script>


    <style>
        .card {
            font-size: 25px;
            margin: 10px;
            padding: 3px;
            border: dotted 7px black;
            color: #9b8bba;
            background-color: rgba(91, 92, 110, 1);
        }
        
        .breadcrumb {
            text-align: center;
            padding: 3px;
            margin: 10px;
            border: dotted 7px #000000;
            color: #ffffff;
            background-color: rgba(91, 92, 110, 1);
        }
        
        .nav-link {
            text-align: center;
            color: #cc70af;
            font-size: 25px;
        }
        
        .footer,
        .header {
            margin: 6px;
            padding: 3px;
            color: #8fd3e8;
            border: dotted 5px black;
            background-color: rgba(91, 92, 110, 1);
        }
    </style>

</head>





</div>


<body>


    <nav aria-label="breadcrumb">


        <!-- bootstrap breadcrumb -->
        <ol class="breadcrumb">
            <li class="nav-item active p-1 border border-primary border-bottom-5">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item p-1 border border-primary border-5">
                <a class="nav-link " href="# ">About</a>
            </li>
            <li class="nav-item active p-1 border border-primary border-bottom-5">
                <a class="nav-link " href="# ">Contact Us</a>
            </li>
        </ol>
    </nav>

    <div class="header">
        <article class="">
            <header>
                <h1>Saeou-assignment-3.2.js week-3</h1>


            </header>

        </article>
    </div>

    <div class=" card ">
        <div class="card-body ">
            <%= message %>

        </div>
    </div>


    <div class="footer ">

        <footer class="">
            <p>Posted by: Joann Saeou</p>

        </footer>

    </div>

    <!-- jQuery for bootstrap plugin-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js "></script>
    <script src="js/bootstrap.min.js "></script>

</body>



</html>