<!--
============================================
Title: Assignment 5.4
Author: Professor Krasso
Date: 3 March 2020
Modified By: Joann Saeou
Description: milestone 1 and 2
============================================
-->






<%- include('header'); -%>

    <div role="main" class="container">

        <br/><br/>

        <h2>Welcome to my
            <%= message %>!</h2>

    </div>

    <%- include('footer'); -%>


        <hr>
        <hr>

        <div class="media">
            <div class="media-body">
                <h5 class="mt-0 mb-1" style="color: blueviolet; "></h5>
               <p style="background-color: #f5e8c8;" class="text-monospace">  My name is Joann Saeou. I was born in the  morning during winter season. 
                I am a student at Bellevue University studying web development. </p>
                <p style="background-color: #f5e8c8;" class="text-monospace"> This is my assignment for week 5 to week 6 on course web-340 </p>

                
            </div>
            <img class="d-flex ml-3" src="https://www.pinterest.com/pin/776871004456556550/" alt="Generic placeholder image">
        </div>

        <hr style="background-color:rgb(255, 99, 71);">
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
        