<!--
============================================
Title: Assignment 5.4
Author: Professor Krasso
Date: 3 March 2020
Modified By: Joann Saeou
Description: milestone 1 and 2
============================================
-->


<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>milestone 1 and 2</title>


    <!--my own stylesheet-->
    <link rel="stylesheet" href="../stylesheet.css">

    <!-- Stylesheet - Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" href="/">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/about">About me</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/contact">Contact</a>
        
    </nav>