<!--
============================================
Title: Assignment 5.4
Author: Professor Krasso
Date: 28 March 2020
Modified By: Joann Saeou
Description: milestone 1 and 2 //  week 5 to week 6 assignment
============================================
-->


<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" href="/">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/about">About me</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/contact">Contact</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/products">products</a>
</nav>