<!--
============================================
Title: Assignment 5.4
Author: Professor Krasso
Date: 28 March 2020
Modified By: Joann Saeou
Description: milestone 1 and 2(week 5 to week 6 assignment)
============================================
-->


<%- include('header'); -%>

    <div role="main" class="container">

        <br/><br/>

        <h2>Welcome to my
            <%= message %>!</h2>

    </div>

    <%- include('footer'); -%>