<% include header %>

    <div role="main .bg-transparent .border-bottom .border-danger .display-4" class="container">
        <br /><br />

        <h2>Welcome to the
            <%= include message %>!</h2>
    </div>