<% include header %>

    <div role="main .border-top .border-right .border-bottom .border-left-0 .bg-secondary" class="container">
        <br /><br />

        <h2>Welcome to the
            <%= message %>!</h2>
    </div>

    <% include footer %>