<% include header %>

    <div role="main .bg-dark .border-top .border-light .display-3 " class="container">
        <br /><br />

        <h2>Welcome to the
            <%= include message %>!</h2>
    </div>

    <% include footer %>